<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>CONCESIONARIO</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>           
            <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
            <script type="text/javascript">
                $( function() {
                        $('#fecha').datepicker({
                            dateFormat: 'yy-mm-dd', 
                            changeMonth: true, 
                            changeYear: true, 
                            yearRange: '1900:2050',
                            onSelect: function(selectedDate) {
                            }
                        });
                });
	        </script>   
            <link href="views/css/style.css" rel="stylesheet" type="text/css" />
            <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
            <script src="modules/coches/model/valida_coche.js"></script>
            <script src="modules/home/model/ctrl_home.js"></script>
            <script src="views/js/translate.js"></script>
            
       
    </head>
<body>

